.pay{
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
}
.pay:hover{
    transform: scale(1.1) translateY(-1px);
}
.cont{
    
    display: flex;
    font-size: 50px;
}
.gpay{
    cursor: pointer;
    color: rgb(12, 91, 160);
    margin-left: 20px;
    font-size: 50px;

}
.payt{
    cursor: pointer;
    color: rgb(27, 156, 225);
    margin-left: 20px;
    font-size: 50px;

}
.pho{
    cursor: pointer;
    color: rgb(87, 23, 87);
    margin-left: 20px;
    font-size: 50px;

}
.pay2{
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(68, 64, 192);
    transition: all 0.2s;
    border-radius: 3px;
    margin-top: 20px;
}
.pay2:hover{
    transform: scale(1.1) translateY(-1px);
}