.carousel-container {
    width: 700px; /* Adjust the width as per your requirement */
    height: 300px; /* Adjust the height as per your requirement */
    margin-left: 270px;
  }
  
  .carousel-container .carousel-inner {
    width: 100%;
    height: 100%;
  }
  
  .carousel-container .carousel-item {
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 600px) {
    .carousel-container {
        width: 300px; /* Adjust the width as per your requirement */
        height: 100px; /* Adjust the height as per your requirement */
        margin-left: 50px;
      }
  }